{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{bock.super}}



<style>
   .jumbotron{
       width: 40%;
       margin-left: 30%;
       background-color: #0C8346;
       text-align: center;
   }
   h4,h2{color: #0C8346;}
   h3{color: #ffffff;}
</style>

<div class="container">
        {% for prof in profile %}
      
        <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-6"> 
                       <h2>Welcome, {{user.username}} </h2>
                      
                       <img src="{{prof.profile_pic.url}}" alt="" class="img-circle" style="height:150px;">
                    
                </div>

                <div class="col-xs-6 col-md-6 col-lg-6">
                    <button> <a href="{% url 'edit' %}">Edit Profile</a> </button>
                    <h2>Your details</h2>
                    
                        <h4>Name - {{prof.name}}</h4>
                        <h4>Neighbourhood - {{prof.neighborhood}} </h4>
                        <h4>Business - {{prof.business}}</h4>
                    
                
                </div>
              </div>
              

  {% endfor %}

</div>
    
<div class="jumbotron">
    
       <h3>
           Create a post
       </h3>
    

</div>
  
        
     
{% endblock %}